body{
	background-color: black;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: white;
	font-size:36px;
	background: url(../img/esu.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#wrapper{
	margin:0 auto;
	width:600px;
	border-radius:20px;
	background-color: rgba(0, 0, 0, 0.6);
	padding:40px;
	margin-top:100px;
}
h1{
	background-image:url(../img/logo.png);
	text-indent: -9999px;
	display: block;
	width: 357px;
	height: 102px;
	margin: 20px auto;
}

h2{
	font-size:24px;
	color: white;
	font-weight: normal;
}

h1, h2{
	text-align:center;
}

.clock{
	color:white;
	margin:0 auto;
	font-weight: bold;
	font-size:26px;
	-webkit-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
	font-family: Helvetica, Arial, sans-serif;
}

p{
	text-align:center;
	margin-top: 0;
}

.note{
	position:fixed;
	bottom:10px;
	right: 10px;
	font-size:11px;
	text-shadow: 1px 1px 1px #000;
}